@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-btn {
    @apply bg-blue-600 
    transition ease-in-out transform duration-200 hover:scale-105 hover:bg-blue-500 
    active:bg-blue-400 active:scale-95 m-10 px-6 py-2 rounded-full;
  }
  .btn-primary {
    @apply bg-blue-600 transition ease-in-out transform duration-200 hover:scale-105 hover:bg-blue-500 
    active:bg-blue-400 active:scale-95 px-6 py-2 rounded-full hover:shadow-none active:shadow-none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
/*   background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
